* {
   margin: 0;
   padding: 0;
 }
.main_card_container{
   height:auto;
   width:100%;
   margin: auto;
   /* border: 1px solid green; */
   
   
}
.secondary_card_container{
   width:auto;
   height:auto;
   /* border: 1px solid green; */
   margin: auto;
  
}
.main_image{
   border-radius: 50px;
   
}
.user_intro{
  display:flex;
  gap: 10px;
}
.user_intro>a{
   text-decoration: none;
}
.user_main_intro{
   display:flex;
   gap: 15px;
   padding:15px;
}
.user_about_date{
   display: flex;
   gap: 10px;
}
.post_images{
   height: 400px;
   width: 533px;
 
}
.answer{
   line-height: 1.3;
   padding:0px 0px 5px 10px;

  
}
.cardlast_section{
   display: flex;
   gap: 15px;
}
.vote{
   
   height:30px;
   width:120px;
   background-color:whitesmoke;
   border-radius:30px;
   padding:4px 6px 0px 0px;
   margin-left: 20px;
   margin-top: 5px;
   margin-bottom:3px;
   display:flex;
   gap: 3px;
}
.button_upvoted{
   box-sizing: border-box;
   font: inherit;
   padding: 0px 10px;
   height: 20px;
   transition-duration: 60ms;
   transition-timing-function: ease-out;
   border-width: 0px;
   outline: none;
   color: inherit;
   background-color: transparent;
   display:flex;
   gap: 3px;
}
.button_voted{
   box-sizing: border-box;
   font: inherit;
   padding: 0px 10px;
   height: 20px;
   transition-duration: 60ms;
   transition-timing-function: ease-out;
   border-width: 0px;
   outline: none;
   color: inherit;
   background-color: transparent;
}

.share {
   margin-top:10px;
  
}
.comments{
   margin-top:10px;
}
