
.main_card_container {
  height: 300px;
  width: 100%;
  margin: auto;
  /* border: 1px solid green; */
}

.dotted_share {
  display: flex;
  gap: 10px;
}

.secondary_card_container {
  width: 100%;
  height: auto;
  /* border: 1px solid green; */
  margin: auto;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: calc(13px * var(--dynamic-font-scale,1));
  line-height: 1.4;
  color: rgb(40, 40, 41);
  direction: ltr;

  
}
.main_image {
  border-radius: 50px;
}
.user_intro {
  display: flex;
  gap: 10px;
}
.user_intro > a {
  text-decoration: none;
}
.user_main_intro {
  display: flex;
  gap: 15px;
  padding: 10px;
}
.user_about_date {
  display: flex;
  gap: 10px;
}
.post_images {
  height: 400px;
  width: 532px;
}
.answer {
  line-height: 1.3;
  padding: 0px 0px 5px 10px;
}
.cardlast_section {
  display: flex;
  gap: 15px;
}
.vote {
  height: 30px;
  width: 120px;
  background-color: whitesmoke;
  border-radius: 30px;
  padding: 4px 6px 0px 0px;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 3px;
  display: flex;
  gap: 3px;
}
.button_upvoted {
  box-sizing: border-box;
  font: inherit;
  padding: 0px 10px;
  height: 20px;
  transition-duration: 60ms;
  transition-timing-function: ease-out;
  border-width: 0px;
  outline: none;
  color: inherit;
  background-color: transparent;
  display: flex;
  gap: 3px;
}
.button_voted {
  box-sizing: border-box;
  font: inherit;
  padding: 0px 10px;
  height: 20px;
  transition-duration: 60ms;
  transition-timing-function: ease-out;
  border-width: 0px;
  outline: none;
  color: inherit;
  background-color: transparent;
}

.share {
  margin-top: 10px;
}
.comments {
  margin-top: 10px;
}

.all_icons {
  display: flex;
  justify-content: space-between;
}

/* box-sizing: border-box;
}
<style>
.cf-inspector-body .q-box {
    background-color: transparent !important;
    background-blend-mode: normal !important;
    border: 0px none rgb(0, 0, 0) !important;
    box-shadow: none !important;
}

user agent stylesheet
div {
    display: block;
}
.qu-dynamicFontSize--regular {
    font-size: calc(15px * var(--dynamic-font-scale, 1))!important;
}
.qu-dynamicFontSize--regular {
    font-size: calc(15px * var(--dynamic-font-scale, 1))!important;
}
<style>
html, body {
    height: 100%;
   
} */