.left_space {
  height: auto;
  width: 150px;
  
  padding: 0px 0px 0px 5px;
  color: #939598;
  cursor: pointer;
}
/* .second_main {
} */

.btn_create_post {
  height: 30px;
  width: 140px;
  padding: 8px 0px 10px 0px;
  font-size: 13px;
  color: #818585;
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
  border: none;
}
.button_space {
  display: flex;
  gap: 5px;
  border: none;
  border-radius: 5px;
}
.plus {
  font-size: 13px;
  color: grey;
}
.plus_para {
  font-size: 13px;
  color: grey;
}

.fileinput {
  height: 30px;
  width: 100%;
  background-color: rgb(246, 246, 246);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.createpost {
  float: right;
  margin-top: 15px;
  cursor: pointer;
}

.space_catogery {
  display: flex;
  gap: 2px;
  height: 30px;
  width: 90%;
  padding: 5px 5px 5px 5px;
  margin-top: 5px;
}

.space_catogery_image {
  border-radius: 5px;
}
.space_catogery_name {
  margin-top: -2px;
  font-size: 13px;
}
.space_catogery_hr {
  width: 130px;

  margin-top: 20px;
}
.space_catogery_footer {

  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  color: rgb(117, 114, 114);
  background: rgb(240, 238, 238);
  padding: 0px;
  gap: 3px;
  width: 80%;
  height: 90px;
  justify-content:center;
  
 
}
.space_catogery_footer>p:nth-child(n):hover {
  cursor: pointer;
  text-decoration: underline;
  text-align: center;
}

/* .space_catogery_footer>div:nth-child(n){
  height: 50px;
  width: auto;
  border-top: 1px solid green
} */
