.left_space {
  height: 700px;
  width: 100%;
  /* border: 1px solid red; */
  padding: 5px 0px 0px 20px;
}
/* .second_main {
} */
.button_space {
  display: flex;
  gap: 5px;

  border: none;
  border-radius: 5px;
}
.plus {
  font-size: 13px;
  margin-right: 5px;
  color: grey;
}
.plus_para {
  font-size: 13px;
  color: grey;
}

.fileinput{
  height: 30px;
  width: 100%;
  background-color:rgb(246, 246, 246);
  padding-left: 10px;
  padding-right: 10px;
  padding-top:10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.createpost{
    float: right;
   margin-top: 15px;

}
