.left_space {
  height: auto;
  width: 100%;
  /* border: 1px solid red; */
  padding: 0px 0px 0px 28px;
  color: #939598;
}
/* .second_main {
} */

.btn_create_post {
  height: 30px;
  width: 140px;
  padding: 8px 0px 10px 0px;
  font-size: 13px;
  color: #818585;
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
  border: none;
}
.button_space {
  display: flex;
  gap: 5px;
  border: none;
  border-radius: 5px;
}
.plus {
  font-size: 13px;
  color: grey;
}
.plus_para {
  font-size: 13px;
  color: grey;
}

.fileinput {
  height: 30px;
  width: 100%;
  background-color: rgb(246, 246, 246);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.createpost {
  float: right;
  margin-top: 15px;
}

.space_catogery {
  display: flex;
  gap: 2px;
  height: 30px;
  width: 90%;
  padding: 5px 5px 5px 5px;
  margin-top: 5px;
}

.space_catogery_image {
  border-radius: 5px;
}
.space_catogery_name {
  margin-top: -2px;
  font-size: 13px;
}
.space_catogery_hr {
  width: 75%;
  margin: auto;
  margin-top: 20px;
}
.space_catogery_footer {
  margin-left: 10px;
}
