.container{
    background-image: url(https://qsf.fs.quoracdn.net/-4-ans_frontend_assets.images.home_page_bg_desktop.png-26-4770753d59b970e1.png);
    width: 100%;
    height: 100vh;
    
    background-repeat: "no-repeat";
    padding-top: 2%;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    
}
.container1stdiv{
    width: 700px;
    
    background-color: white;
    margin: auto;
    border-radius: 3px;
    
}
.container1stdiv1stDiv{
    width: 100%;
    text-align: center;
}
.container1stdiv1stDiv>img{
    width: 25.5%;
    margin-top: 5%;

}
.container1stdiv1stDiv>h4{
    color: #636466;
}
.container1stdiv2ndDiv{
    width: 90%;
    
    margin: auto;
    
}

.facebookdiv{
   margin-top: 10px;
   margin-bottom: 10px;
    margin-left: -0.5%;
}
.emailbutton{
    width: 100%;
    height: 35px;
    margin-bottom: 5px;
    border: 2px white;
    border-radius: 50px;
}
.container1stdiv2ndDiv1stDiv{
    width: 45%;
    
}
.container1stdiv2ndDiv3rdDiv{
    width: 45%;
    
    margin-left: 5%;
}
.container1stdiv2ndDiv3rdDiv>hr{
    border: 1px solid lightgray;
    margin-top: 10px;
}
.container1stdiv2ndDiv3rdDiv>h3{
    font-weight:normal;
}
.container1stdiv2ndDiv{
    display: flex;
    margin-top: 40px;
}
.inputdiv{
    height: 40px;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 2px;
    padding-left: 10px;
}
.loginDiv{
    display: flex;

}
.loginDiv>h5{
    color: lightgray;
}
.loginDiv>button{
    width: 80px;
    height: 40px;
    border: white;
    border-radius: 40px;
    margin-left: 92px;
    background-color: #2E69FF;
    color: white;
    font-weight: bold;

}
.container1stdiv2ndDiv2ndDiv{
    width: 1px;
    height: 300px;
    background-color: #E6E7E8;
    margin-left: 5%;
}


.bottomDiv2{
    text-align:center;
    height:40px;
    background-color:lightgrey;
} 
.bottomDiv2>h5{
    color:gray;
        padding-top:10px;
        font-weight: normal;
}
.bottomDiv1{
    text-align:center;
    height:30px;
}
.bottomDiv1>p{
    color:blue;margin-top:10px;
    
}
.boxCloseIcon{
    margin-top: -10px;
    margin-left: -20px;
    border-radius: 50%;
}
.inputsLabel{
    font-weight: bold;
    font-size: 13.5px;
}