.right_side_spaces{
   
   
}
.lines{
    border-top: 1px solid #ccc;
    display: block;
}
.lines_2{
     border-top: 1px solid #ccc;
     display: block;
     width: 85%;
     margin: auto;
   
   
}
.space_image{
    border-radius: 10px;
}
.first_line{
    margin: 10px 10px 10px 20px;
}

.spaces_main{
    display: flex;
    gap: 8px;
    width: 85%;
    height: 70px;
    margin: auto; 
    padding: 0px 0px 0px 5px;
    margin-top:4px;
    margin-bottom:5px;
}
.space_des{
    margin-top: 2px;
    font-size:14px;
}
.space_line{
    width: 85%;
    height: 0px;
    background-color:whitesmoke;
    margin: auto;
    margin: 20px 10px 10px 20px;
    color: #939598;
}

.space_para{
  font-size:small
 
}